 /* #id{
    background-color: gray;
    height: 200vh;
    display: flex;
    align-items: center; justify-content: center;
} */
/* #lado{
   
    height: 100px; width: 100px;
}


#cubeI{
    background-color: blue; height: 40px; width: 40px;
    margin-left: -10px;
    margin-top: -10px;
    animation: kiwiII 1s infinite;
}

#cubeII{
    background-color: blue; height: 40px; width: 40px;
    margin-left: 74px;
    margin-top: 40px;
    animation: kiwi 1s infinite;
}

@keyframes kiwiII{
   25%{
    margin-left: 75px;
   }
   50%{
    margin-bottom: 0px;
   }
} 

@keyframes kiwi{
    25%{
    margin-left: -30px;
   }
   50%{
    margin-bottom: 0px;
   }
}

@keyframes lado{
    100%{
        transform: rotate(180deg);
    }
}


#lado{
    animation: lado 0.5s infinite;
} */  

/* #img{
    border-radius: 50%; animation: img 2s infinite;
}

@keyframes img{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(2);
    }
}


.whim{
    width: 100px;
    height: 100px;
    border: 10px solid gray;
    border-top: 10px dotted rgb(255, 255, 255);
    border-right: 10px dotted rgb(140, 131, 131);
    border-bottom: 10px dotted rgb(116, 109, 109);
    border-radius: 50%;
    transition: 1s;
    justify-self: center; 
    align-self: center;
    animation: dot 2s infinite;;
}

@keyframes dot{
    0%{

    }
    100%{
        transform: rotate(360deg);
    }
} */

 #id{
    background-color: gray;
    height: 200vh;
    display: flex;
    align-items: center; justify-content: flex-start;
}

#ball{
   background-color: orange;
   border-radius: 100%;
   width: 100px;
   height: 100px;
   animation: cheese 2s infinite;
}

@keyframes cheese{
    35%{
        margin-left: 1000px;
        margin-top: 500px;
        padding-left: 400px;
    }
    100%{
        margin-bottom: 500px;
    }
}