h1{
       color:cyan;
       background-color: blue;
       text-align: center;
       
     }
     p{
      color:red;
      background-color:yellow;
      text-align: center;
       
     }
   button{
     text-align: center;
     color:cyan;
     background-color:blue;
   }












