div{
  background-color: cyan;
  width: 200px;
  height: 100px
  ;
}
#c{
  background-color: blue;
  width: 20%;
  height: 20%;   
}
#a{
  background-color: red;
  width: 35%;
  height: 35%;   
  
}
#b{
  background-color: yellow;
  width: 20%;
  height: 20%;
}
.b{
  background-color: purple;
  width: 20%;
  height: 10%;   
  
}