.a{
    width: 250px; 
    height: 150px;
    
}

#src{
    display: grid;
    grid-template-columns: repeat(3fr, 2fr);
} 
/* @media(max-width: 500px){
    #src{
        grid-template-columns: repeat(2fr, 3fr);


    }
}

@media (max-width: 357px) {
    #src{grid-template-columns: repeat(1fr 6fr);}
} */
 /* @media (max-width: 1015px){
    #src{
        grid-template-columns: 250px 250px 250px;
    }
}

@media (max-width: 750px){
    #src{
        grid-template-columns: 250px 250px;
    }
}

@media (max-width: 500px){
    #src{
        grid-template-columns: 250px;
    }
} */