#hidden{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 3fr 2fr 3fr 2fr ;
    gap: 10px;
}
.s{
    background-color: black;
    width: 100px;
    height: 100px;
}
.a{
   display: grid;
    grid-template-columns: 2fr 3fr 2fr 3fr 2fr 3fr 2fr;
    
}

.apple{
      background-color: black;
    width: 100px;
    height: 100px;
 
}