/*
 <-- pseudo selectors -->
hover: > როცა მაუსს გადავუსევთ რამე ელემენტს ის დიზაინგი აქტიურდება.
active: > დაჭერის დროს აქტიურდება დიზაინგი სანა არ ავუშვებთ
:link > დიზაინგი აქტიურდება როცა ლინკზე ჯერ არ ვართ გადასული
:visited > დიზაინგი აქტიურდება როცა ლინკზე უკვე  ვიმყოფებით
*/

.a:hover{
    color: red;
}


/* 
nth-child - უკეთებს დიზაინგს ტაბლეში რა რიცხვსაც მივცემთ მაგ რიცხვზე აკეთებს დიზაინგს. შეგვილი ლუწი და კენტი ჩავწეროთ.



*/








tr, td, .hey{
  border: 2px solid yellow
}
.hey{
    border-collapse: collapse;
}


