#parent{
    display: flex;
    
    gap: 3px;
    flex-wrap: wrap;
}

.a{
    background: yellow;
    width: 150px;
    height: 150px;
}
.b{
    background: red;
    width: 150px;
    height: 150px;
}

.c{
    background: blue;
    width: 150px;
    height: 150px;
}

body{
    background-color: green;
}