<<<<<<< HEAD
nav{
  text-align: right;
  background-color: green;
  
}
body{
  background-color: black;
}

#div1{
  color: white;
  
  
}





.Goa{
    list-style-image: url('https://blob.sololearn.com/courses/logo.png')
    
  
}

#mtredi{
  background-color: green;
  color: gray;
  text-align: center;
}
#mtredi2{
  background-color: green;
  color: gray;
  text-align: center;
}
.mtredi3{
  text-align: center;
  
  
}
.group:hover{
  color: blue;
  
}
.a{
  text-shadow: 2px 2px gray;
}

=======
nav{
  text-align: right;
  background-color: green;
  
}
body{
  background-color: black;
}

#div1{
  color: white;
  
  
}





.Goa{
    list-style-image: url('https://blob.sololearn.com/courses/logo.png')
    
  
}

#mtredi{
  background-color: green;
  color: gray;
  text-align: center;
}
#mtredi2{
  background-color: green;
  color: gray;
  text-align: center;
}
.mtredi3{
  text-align: center;
  
  
}
.group:hover{
  color: blue;
  
}
.a{
  text-shadow: 2px 2px gray;
}

>>>>>>> 0f2c4d82c453c6f0f6cf5f90acb45cf0461dee3d
